* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  font-family: 'Karla', sans-serif;
  overflow-y: auto;
}

body {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}
a:hover, a:focus {
  font-weight: 500;
}

.portNav, header, #preview, #about {
  display: flex;
  flex-direction: column;
}

/* Header Styling */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color:rgb(252, 252, 252);
  height: 90vh;
  width: 100vw;
  color: rgb(41, 41, 41);
}
.blackOut {
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
  background-color: black;
  color: black;
}
#title {
  padding: 4vw;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
  font-size: 5vw;
  line-height: 1.3;
  text-transform: uppercase;
  color: rgb(85, 85, 85);
}
.nameTitles {
  margin-top: 2vh;
}
#introduction {
  margin-top: 3vh;
  font-size: 5vw;
  line-height: 1.5;
  text-transform: none;
}
.bolder {
  font-weight: 500;
}
.codeLang {
  text-decoration: underline;
  font-style: italic;
}
.hovered {
  color: rgb(255, 145, 0);
}
#yourName:hover {
  color: white;
}
#yourName:focus, #yourName:hover {
  font-weight: 300;
}
#social {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
}
.listItem {
  font-size: 4vw;
  list-style: none;
  text-transform: none;
}
#arrowButton {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
#arrowName  {
  text-transform: none;
  font-size: 4vw;
  font-style: italic;
}
#arrow {
  font-size: 5vw;
}
#hoverMe {
  font-size: 3vw;
  font-weight: 500;
  color: rgb(255, 145, 0);
}
.hoverPhoto {
  display: none;
  position: absolute;
  width: 70%;
  height: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
}

/* PORTFOLIO STYLING */
#portfolio {
  display: flex; 
  width: 100%;
  height: auto;
}
#preview {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}
/* .smoothScroll {
  scroll-behavior: smooth;
} */
.fullHeight {
  margin-top: 3vh;
  width: auto;
  height: 55%;
}

/* Project */
.appD {
  display: block;
  width: 100%;
  height: 90vh;
  align-items: center;
  text-align: center;
  padding: 3vw;
  position: relative;
}
.projTitle {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-family: 'Lora', serif;
  font-size: 5vw;
  font-style: italic;
  margin-left: 4vw;
  margin-top: 2vh;
  border-bottom: 1px solid white;
}
.minShow {
  font-family: 'Lora', serif;
  color: rgb(255, 255, 255);
  font-size: 3.5vw;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  line-height: 1.5;
}
#gitLinks {
  display: block;
  margin-top: 5vh;
}
#gitLinks a{
  text-transform: uppercase;
  padding: 15px;
  margin: 10px;
  background-color: rgb(245, 106, 106);
  color: white;
}
#gitLinks a:hover, #gitLinks a:focus {
  cursor: pointer;
  background-color: lightgrey;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

/* ABOUT SECTION STYLE */
#about {
  width: 100%;
  height: 90vh;
  min-height: 800px;
  position: relative;
  align-items: center;
  padding: 4vw;
}
.about {
  background-color: rgb(252, 252, 252);
  color: black;;
}
#about p{
  font-family: 'Work Sans', sans-serif;
  font-size: 3vw;
  font-weight: 500;  
  margin-top: 2vh;
}
#about h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  text-align: center;
  font-style: italic;
  border-bottom: 1px solid black;
}
.whiteFont {
  color: white;
}

@media screen and (min-width: 480px) and (max-width: 679px){
  header {
    height: 90vh;
    min-height: 800px;
  }
  .appD {
    height: 90vh;
    min-height: 800px;
  }
  .hoverPhoto {
    width: 55%;
  }
  .aboutPhoto {
    width: 65%;
  }
  .projTitle {
    font-size: 3.5vw;
  }
  .minShow {
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 680px) and (max-width: 849px){
  header {
    height: 90vh;
    min-height: 800px;
  }
  .appD {
    height: 90vh;
    min-height: 800px;
  }
  .hoverPhoto {
    width: 40%;
  }
  .aboutPhoto {
    width: 55%;
  }
  #title, #introduction{
    font-size: 3.5vw;
  }
  .listItem, #arrowName, #arrow, .projTitle  {
    font-size: 3vw;
  }
  #about p{
    font-size: 2.5vw;
  }
  #hoverMe {
    font-size: 2vw;
  }
}
@media screen and (min-width: 850px) and (max-width: 1149px){
  header {
    height: 90vh;
    min-height: 800px;
  }
  .appD {
    height: 90vh;
    min-height: 800px;
  }
  .hoverPhoto {
    width: 30%;
  }
  .aboutPhoto {
    width: 40%;
  }
  .minShow {
    width: 75%;
    font-size: 2vw;
  }
  .minShow p{
    margin-bottom: 10px;
  }
  #title, #introduction{
    font-size: 3vw;
  }
  .listItem, #arrowName, #arrow, .projTitle  {
    font-size: 3vw;
  }
  #about p {
    font-size: 2vw;
  }
  #hoverMe {
    font-size: 1.5vw;
  }
}
@media screen and (min-width: 1150px){
  header {
    height: 90vh;
    min-height: 800px;
  }
  .appD {
    height: 90vh;
    min-height: 800px;
  }
  .fullHeight {
    height: 30vw;
  }
  .hoverPhoto {
    width: 20%;
  }
  .aboutPhoto {
    width: 25%;
  }
  .minShow {
    width: 50%;
    font-size: 1.5vw;
  }
  #about {
    width: 100%;
  }
  #about p {
    width: 50%;
  }
  #about h2 {
    font-size: 2vw;
  }
  #title, #introduction{
    font-size: 2.5vw;
  }
  .listItem {
    font-size: 2vw;
  }
  #arrowName, #arrow, .projTitle  {
    font-size: 1.3vw;
  }
  #hoverMe {
    font-size: 1vw;
  }
  #about p {
    font-size: 1.5vw;
  }
}
